<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Listing</title>
  </head>
  <body>
    <h1>Create a New Listing</h1>

    <form
      id="listingForm"
      data-url="{{ url_for('marketplace.create_listing') }}"
      data-redirect="{{ url_for('index') }}"
    >
      <input
        type="text"
        id="title"
        placeholder="Item Name"
        required
      /><br /><br />
      <input
        type="text"
        id="creator"
        placeholder="Seller Name"
        required
      /><br /><br />
      <input
        type="number"
        id="price"
        placeholder="Price"
        required
      /><br /><br />

      <select id="condition" required>
        <option value="">--Select Condition--</option>
        <option value="New">New</option>
        <option value="Used">Used</option></select
      ><br /><br />

      <textarea
        id="description"
        placeholder="Item Description"
        required
      ></textarea
      ><br /><br />

      <button type="submit">Create Listing</button>
      <a href="{{ url_for('index') }}">Cancel</a>
    </form>

    <p id="responseMessage"></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
