<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="\static\styles.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="header-container">
        <h1>Marketplace</h1>

        <nav class="navbar">
          <ul>
            <li>
              {% if current_user.is_authenticated %}
              <div class="button-wrapper">
                <a href="{{ url_for('show_create_form') }}">
                  <button type="button" class="btn-create">Create</button>
                </a>
              </div>
              {% endif %}
            </li>
            <li><a href="/">Listings</a></li>
            <li>About</li>
            <li>
              {% if current_user.is_authenticated %}
              <p><a href="{{ url_for('logout') }}">Logout</a></p>
              {% else %}
              <p><a href="{{ url_for('login') }}">Login</a></p>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-content">
      <section class="card-grid">
        {% for listing in listings %}
        <a href="{{ url_for('listing', item_id=listing._id) }}">
          <div class="card">
            <div class="card-img">
              <img src="{{ listing.imgurl }}" />
            </div>

            <div class="card-content">
              <div class="price">${{ listing.price }}</div>
              <h3 class="title">
                {{ listing.title }} - {{ listing.condition }}
              </h3>
              {% if current_user.is_authenticated and current_user.username ==
              listing.creator %}
              <form
                action="{{ url_for('marketplace.delete_listing', item_id=listing._id) }}"
                method="POST"
              >
                <button type="submit" class="delete-btn">Delete</button>
              </form>
              {% endif %}
            </div>
          </div>
        </a>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
