<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="\static\styles.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="header-container">
        <h1>Marketplace</h1>

        <nav class="navbar">
          <ul>
            <li>
              <div class="button-wrapper">
                <a href="{{ url_for('show_create_form') }}">
                  <button type="button" class="btn-create">Create</button>
                </a>
              </div>
            </li>
            <li><a href="/">Listings</a></li>
            <li>About</li>
            <li>
              {% if current_user.is_authenticated %}
              <p><a href="login">Logout</a></p>
              {% else %}
              <p><a href="login">Login</a></p>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-content">
      <section class="card-grid">
        {% for listing in listings %}
        <div class="card">
          <div class="card-img">
            <img src="images/nike-sneakers.jpg" alt="Product Image" />
          </div>

          <div class="card-content">
            <div class="price">${{ listing.price }}</div>
            <h3 class="title">{{ listing.title }} - {{ listing.condition }}</h3>
          </div>
        </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
