<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Agile Project</title>
</head>
<body>
    <h1>Create Account</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag()  }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;"> [{{ error }} ]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }} <br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <span style="color: red;"> [{{ error }} ] </span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;"> [{{ error }} ] </span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }} <br>
            {{ form.confirm_password(size=32) }}
            {% for error in form.confirm_password.errors %}
            <span style="color: red;"> [{{ error }} ] </span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Sign in here</a></p>
</body>
</html>